anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bleak==0.22.3
Brotli
cached-property
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
imufusion==1.2.8
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keyboard==0.13.5
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mistune
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pickleshare
pillow
platformdirs
ply
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
Pygments
pylsl==1.17.6
pyparsing
pyqtgraph
PyQt5==5.15.10
PyQt5_sip
pyserial
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
PySocks
python-dateutil
python-json-logger
pytz
# pywin32==307
# pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986-validator
rpds-py
scipy
Send2Trash
setuptools==79.0.0
shiboken6==6.9.0
sip
six
sniffio
soupsieve
stack_data
terminado
tinycss2
toml
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
typing_utils
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
# win_inet_pton
# winrt-runtime==2.3.0
# winrt-Windows.Devices.Bluetooth==2.3.0
# winrt-Windows.Devices.Bluetooth.Advertisement==2.3.0
# winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.3.0
# winrt-Windows.Devices.Enumeration==2.3.0
# winrt-Windows.Foundation==2.3.0
# winrt-Windows.Foundation.Collections==2.3.0
# winrt-Windows.Storage.Streams==2.3.0
zipp
zstandard==0.23.0
